<ngx-spinner></ngx-spinner>
<div class ="tblbackground">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef class ="tblHeader"> HERO ID </mat-header-cell>
      <mat-cell *matCellDef="let DotaHero"> {{DotaHero.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Primary Attribute">
      <mat-header-cell *matHeaderCellDef  class ="tblHeader"> PRIMARY ATTRIBUTE </mat-header-cell>
      <mat-cell *matCellDef="let DotaHero"> {{ DotaHero.primary_attr}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Attack Type">
      <mat-header-cell *matHeaderCellDef   class ="tblHeader"> ATTACK TYPE </mat-header-cell>
      <mat-cell *matCellDef="let DotaHero"> {{ DotaHero.attack_type}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Legs">
      <mat-header-cell *matHeaderCellDef  class ="tblHeader"> LEGS </mat-header-cell>
      <mat-cell *matCellDef="let DotaHero"> {{ DotaHero.legs}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Roles">
      <mat-header-cell *matHeaderCellDef  class ="tblHeader"> ROLES </mat-header-cell>
      <mat-cell *matCellDef="let DotaHero"> {{ DotaHero.roles}}  </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
