<ngx-spinner></ngx-spinner>
<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="leagueid">
      <mat-header-cell *matHeaderCellDef> LEAGUE ID </mat-header-cell>
      <mat-cell *matCellDef="let DotaLeagueModel"> {{DotaLeagueModel.leagueid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="banner">
      <mat-header-cell *matHeaderCellDef> BANNER </mat-header-cell>
      <mat-cell *matCellDef="let DotaLeagueModel"> {{DotaLeagueModel.banner}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tier">
      <mat-header-cell *matHeaderCellDef> TIER </mat-header-cell>
      <mat-cell *matCellDef="let DotaLeagueModel"> {{ DotaLeagueModel.tier}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
      <mat-cell *matCellDef="let DotaLeagueModel"> {{ DotaLeagueModel.name}}  </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
