<!--The content below is only a placeholder and can be replaced.-->
<ngx-spinner></ngx-spinner>
<nav><h3>
  <a [routerLink]="['/']" routerLinkActive="active">Home</a>
  <a [routerLink]= "['/herofetcher']" routerLinkActive="active">Hero</a>
  <a [routerLink]= "['/playerinfo']" routerLinkActive="active">Player</a>
  <a [routerLink]= "['/proplayer']" routerLinkActive="active">ProPlayers</a>
  <a [routerLink]= "['/team']" routerLinkActive="active">Team</a>
  <a [routerLink]= "['/league']" routerLinkActive="active">League</a>
  <a [routerLink]= "['/proplayerautocomplete']" routerLinkActive="active">Pro Player AutoCompletion</a>
  <a [routerLink]= "['/proplayersorting']" routerLinkActive="active">Pro Player Sorting</a>

</h3></nav>
<router-outlet></router-outlet>

